files:
  "/tmp/global-bundle.pem":
    mode: "000644"
    owner: root
    group: root
    source: https://truststore.pki.rds.amazonaws.com/global/global-bundle.pem

container_commands:
  01_import_cert:
    command: |
      # Find the Java installation
      JAVA_HOME=$(readlink -f /usr/bin/java | sed "s:/bin/java::")
      KEYSTORE="$JAVA_HOME/lib/security/cacerts"

      # Import the certificate into Java's truststore
      # Default password for Java cacerts is 'changeit'
      keytool -import -trustcacerts -alias documentdb-ca -file /tmp/global-bundle.pem \
        -keystore "$KEYSTORE" -storepass changeit -noprompt || true