spring:
  mongodb:
    uri: ${MONGO_URI}
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

frontend:
  url: http://localhost:5173

# Stripe API Keys
stripe:
  public-key: ${STRIPE_PUBLIC_KEY}
  private-key: ${STRIPE_SECRET_KEY}
